<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php">
  <testsuites>
    <testsuite name="PassportTest">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <const name="WEB_SERVER_HOST" value="localhost" />
    <const name="WEB_SERVER_PORT" value="1349" />
    <const name="WEB_SERVER_DOCROOT" value="./php/tests/server" />
  </php>
</phpunit>